/* Google Fonts(Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}



body{
    background: red;
    color: white;
}

.wrapper{
    overflow: hidden;
}


#World{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.icon{
    display: none;
    cursor: pointer;
    height: 20px;
    color: red;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: red;
    text-decoration: none;
    font-weight: 600;
    padding-left: 4%;
}



.navbar a{
    font-size: 18px;
    color: red;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: black;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 7%;
}


.col1{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
}

.col1 p{
    color: black;
    line-height: 15px;
}

.col h3{
    color: white;
    font-size: 60px;
}

.col p{
    color: white;
    font-size: 22px;
    line-height: 24px;
}


.card1 button{
    width: 100px;
    color: red;
    font-size: 11px;
    margin-left: 0%;
    padding: 7px 0;
    background: #00abf0;
    border: 0;
    border-radius: 70px;
    outline: none;
    margin-top: 57%;
}


.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 8px 12px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 6px;
    background-image: url(images/sunset-city-with-skyscrapers.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5;
   
}

.card1{
    background-image: url(Images/NewYork.jpeg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 5px red;
    font-size: 15px;
}

/* Footer */

.The-end{
    background-color: white;
    padding-bottom: 6%;
}

.footer{
    padding-top: 5%;
    color: red;
    /* margin-top: 35px; */
    padding-left: 11%;
    padding-right: 9%;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100vw;
}

.logo1{
    position: relative;
    font-size: 25px;
    color: red;
    text-decoration: none;
    font-weight: 600;
}

.logo1 a{
    color: red;
}


.navbar1 a{
    font-size: 18px;
    color: red;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}


.navbar1 a:hover,
.navbar1 a.active{
    color: black;
}

.The-end .ce{
    display: flex;
}

.The-end .contact{
    padding-left: 9rem;
    padding-top: 6%;
    color: red;
}

.The-end .contact p{
    color: red;
    font-size: 12px;
}

.The-end .email{
    width: 100vw;
    padding-top: 6%;
    padding-left: 22rem;
}

.The-end .contact h4{
    padding-bottom: 2%;
}


.email input[type=submit]{
    background-color: black;
    color: red;
    padding: 9px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.email input[type=email]{
    padding: 7px 105px;
}

.email label[for=email]{
    color: red;
}

.social-media{
    display: flex;
    padding-top: 6%;
    padding-left: 7.5rem;
}

.social-media a{
    padding-left: 2%;
}

/* Keyframes and Media Query */

@keyframes showRight{
    100%{
        width: 0;
    }
}

@media  screen and  (max-width: 770px) {
    .navbar {
        display: none;
    }
    .icon {
        display: block;
    }

    .col h1{
        font-size: 30px;
    }
}

@media screen and (max-width:950px){
    .The-end{
        display: none;
    }
}

@media screen and (max-width:890px){

    .col1{
        margin-left: -4%;
        margin-top: 20%;
        /* width: 50%; */
    }

    .col h1{
        font-size: 70px;
    }
}